body {
    background-color: lightgray;
    background-image : url('24rolu.jpg') no-repeat;
}

.movie {
    display : flex;
}

.movie > span {
    padding-left: 5px;
}

.movie > img {
    width: 128px;
    height: 128px;
}