<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/public/public.css">
</head>
<body>
    <nav>
        <h1>{{title}}</h1>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/films">Voir nos films</a></li>
            <li><a href="/theaters">Voir nos cinémas</a></li>
        </ul>
    </nav>
    {{> content}}
</body>
</html>