{{#theaters}}
    <h2>{{location.address.street1}}</h2>
{{/theaters}}

<hr>

<h2>Créez un cinéma</h3>

<form method="post">
    <label>
        Rue
        <input name="street" placeholder="La street" />
    </label>
    <label>
        Cité
        <input name="city" placeholder="La téci"/>
    </label>
    <label>
        Pays
        <input name="state" placeholder="Le péis" />
    </label>
    <label>
        Code postal
        <input name="zipCode" placeholder="Le code .zip" />
    </label>
    <button type="submit">Envoyer</button>
</form>